body{
    background-color: #131316;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    /* combines both justify-content: center ; and align-items:center */
    place-items: center;  
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* to avoid watching animation over and over again */
@media (prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
